<!DOCTYPE html>
{% extends 'base.html' %}

{% block title%} Estimate {% endblock %}

{% block body%} 
<h4>Create an estimate</h4>

<form method="POST" action="/estimate" id="estimate">

    <label for="Radius">Tank Radius:</label><br>
    <input type="text" id="radius" name="radius" required><br>  
<br>
    <label for="height">Tank Height:</label><br>
    <input type="text" id="height" name="height" required><br>
<br>
    <button type="button" class="btn btn-outline-primary">Calculate</button>
</form>

<br><br>
{% if estimate %}
    <p class="font-weight-lighter">Your total price is </p>

{{ estimate }}
{% endif %}

{% endblock %}

